.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left{
    width: 50%;
    height: 100%;
    margin-top: 10%;

}

.heading{
    color: white;
    text-align: left;
    margin-left: 10%;
    /* margin-top: 3%; */
}

.balance-heading{
    color :white;
    text-align: left;
    margin-left: 10%;
}

.balance-value{
    color :white;
    text-align: left;
    margin-left: 15%;
    margin-top: 2%;
}

.buttons{
    width: 100%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.withdraw{
    margin-right: 4%;
    width: 8rem;
    height: 3rem;
    background: #384BF5;
    border-radius: 4px;
    color: white;
    border: none;
    max-width: 100%;

}

.recharge{
    width: 8rem;
    height: 4rem;
    background: #1e944b;
    color: white;
    border: none;
    border-radius: 4px;
    max-width: 100%;
}

.right{
    position:relative;
    top: 0px;
    bottom: 5%;

}

.recent-transactions {
  float: left;
}

.box-transaction {
  width: 529px;
  height: 123px;
  left: 1345px;
  top: 201px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}