.container{
    width: 680%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.left{
    width: 30%;
    margin-top: 30%;
    height: 100%;

}

.heading{
    color: white;
    text-align: left;
    margin-left: 10%;
    font-family: 'Roboto slab';
    font-weight: bold;
    font-size: 2rem;
    /* margin-top: 3%; */
}

.balance-heading{
    color :white;
    text-align: left;
    font-family: 'Roboto slab';
    font-weight: bold;
    font-size: 2rem;
}

.balance-value{
    color :white;
    text-align: left;
    margin-top: 2%;
    font-family: 'Roboto slab';
    font-weight: bold;
    font-size: 3rem;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.withdraw{
    margin-right: 4%;
    width: 8rem;
    height: 3rem;
    background: #384BF5;
    border-radius: 4px;
    color: white;
    border: none;
    max-width: 100%;
    margin-top: 4%;

}

.recharge{
    margin-right: 4%;
    width: 8rem;
    height: 3rem;
    background: #1d8825;
    border-radius: 4px;
    color: white;
    border: none;
    max-width: 100%;
}

.right{
    width: 50%;
    margin-left: 15%;

}


.box-transaction {
  width: 30rem;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.vertical-line{
    border-left: 1px solid rgba(255, 255, 255, 0.452);
    height: 70%;
    position: absolute;
    margin-top: 5%;
    left: 55%;
    top: 0;

}
.main{
    display: flex;
    flex-direction: row;
}

.nav-bar{
    width: 10%;
    position: absolute;
    left: auto;
}