html {
  background-size: cover;
}

/* h1 {
  font-family: "Roboto slab";
  font-size: 64px;
} */

/* p,
small,
input {
  font-family: "Roboto slab";
  font-style: bold;
  font-size: 1.2em;
} */

/* text box */

.learn-more {
  margin: 20px 0;
}

.text {
  position: relative;
  /*display: inline-block;*/
  bottom: 45px;
  left: 70px;
}

/* login box */
.login-box {
  flex-grow: 1;
  padding: 0 40px 55px 50px;
}

.login-box img {
  width: 10%;
  height: 10%;
  margin: auto;
}

/* .form-group {
  margin-top: 6%;
  margin-left: 30%;
}



.form-group small {
  color: #fff;
  float: inline-start;
} */

.form-group {
  @apply my-6;
}

input,
button,
textarea {
  /* font-size: 18px; */
  /* border: solid 1px; */
  border-radius: 5px;
  display: block;
  line-height: 40px;
  margin-top: 10px;
  color: #fff;
  /* width: 50%; */
}

input,
textarea {
  border: none;
  color: #fff;
  background-color: rgba(46, 37, 37, 0.623);
  width: 60%;
  padding-left: 3px;
}

.OtpInput {
  color: #fff;
  width: 12%;
  margin-right: 10px;
}

.OtpInput input {
  width: 32px !important;
}

input::placeholder {
  color: #ffffff;
}

.error {
  float: left;
  color: rgb(241, 0, 0) !important;
}

/* button {
  border: none;
  cursor: pointer;
  
  background-color: #4e40ed;
  width: 30%;
} */

button:nth-of-type(2) {
  margin: 25px 0 0 0;
}

button:hover {
  cursor: pointer;
  filter: brightness(75%);
}

button:disabled {
  background-color: #2d2c2f;
  color: #4a494b;
  filter: brightness(100%);
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #683fda;
  font-size: 12px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.resend-timer {
  /* position: absolute; */
  /* top: 65%; */
  /* left: 72%; */
}

.resend-timer button {
  padding: 10px;
  margin-left: 100%;
  text-align: center;
}

.resend-timer div span {
  margin-left: 20px;
}

.resend-timer button span {
  margin-left: 0;
}
